<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    <link rel="stylesheet" href="/css/sign-up.css">
</head>

<body>
    <%- include('partials/_header') %>
    <div id="sign-up">
        <form method="post" action="/createCustomer">
            <table id="table">
                <tr>
                    <td>
                        Customer Name:
                    </td>
                    <td>
                        <input type="text" name="name" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        Phone No:
                    </td>
                    <td>
                        <input type="text" name="phoneNumber" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        Email:
                    </td>
                    <td>
                        <input type="email" name="email" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        Password:
                    </td>
                    <td>
                        <input type="password" name="password" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        Confirm Password:
                    </td>
                    <td>
                        <input type="password" name="confirmPassword" required>
                    </td>
                </tr>
                <tr id="submit">
                    <td colspan="2"><input type="submit" value="Sign-Up"></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>