<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/sign-in.css">
</head>

<body>
    <%- include('partials/_header') %>
    <div id="sign-in">
        <form method="post" action="/createSession">
            <table id="table">
                <tr>
                    <td>
                        Email:
                    </td>
                    <td>
                        <input type="email" name="email" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        Password:
                    </td>
                    <td>
                        <input type="password" name="password" required>
                    </td>
                </tr>
                <tr id="submit">
                    <td colspan="2"><input type="submit" value="Sign-In"></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>