body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url('/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

#sign-in {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

input[type='submit'] {
    width: 100%;
    margin-bottom: 5px;
    height: 30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: rgb(123, 222, 230);

}

form {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}